<ion-content [fullscreen]="true" color="dark" padding class="container">
  <figure class="ion-text-center">
    <img src="../../assets/img/platzylogo.png" alt="logo de la app de musica">
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item color="dark">
      <ion-label position="floating"><ion-icon name="mail"></ion-icon> E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessage.email">
        <div *ngIf="loginForm.get('email').hasError(validation.type)
          && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>
    <ion-item color="dark">
      <ion-label position="floating"><ion-icon name="key"></ion-icon>Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessage.password">
        <div *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          <p>{{validation.message}}</p>
        </div>
      </ng-container>
    </div>

    <ion-button class="log-btn" expand="full" color="success" type="submit" [disabled]="loginForm.invalid">
      <ion-icon name="enter" slot="end"></ion-icon> Login
    </ion-button>

    <ion-text class="error-msg" color="{{errorMessage.color}}">
      {{errorMessage.message}}
    </ion-text>
  </form>

</ion-content>

<ion-footer text-center>
  <ion-button (click)="goToRegister()" fill="outline" shape="round" expand="full" color="success">Click para registrar</ion-button>
</ion-footer>