<ion-content [fullscreen]="true" color="dark" padding>
  <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
    <ion-slide>
      <ion-icon slot="end" name="close"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
      <h1> Escucha tu m&uacute;sica.</h1>
      <h2>EN CUALQUIER LUGAR!</h2>
      <p>
        Los mejores &aacute;lbumes, las mejores canciones. Escucha y comparte en cualquier momento, a todas horas.
      </p>
      <ion-icon name="play"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon slot="end" name="close"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
            <h1> Disfruta de nuestro reproductor</h1>
      <h2>DE VIDEOS INCREIBLES.</h2>
      <p>
        Entra al modo video de nuestro reproductor y obt&eacute;n acceso a clips, docmebtales y making offs increlicles de tus artistas favoritos 😎.
      </p>
      <ion-icon name="videocam"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon slot="end" name="close"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
            <h1>Accede al exclusivo</h1>
      <h2>MODO DEPORTE</h2>
      <p>
        Crea una playlist basada en tu actividad fisica.
        <br>
        Ten reportes y acceso a lo que necesites, integrado al gps
      </p>
      <ion-icon name="bicycle"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close" slot="end"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
            <h1>Se el alma de la fiesta</h1>
      <h2>DONDE VAYAS, M&Uacute;SICA PARA PERREAR HASTA EL PISO, </h2>
      <p>
        La mejor playlist para la fiesta, las canciones m&aacute;s movidas, las canciones del momento.
        <br>
        Todos lo &eacute;neros para que tu fiesta sea la mejor. 🎉🎉🎉
      </p>
      <ion-icon name="musical-notes"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close" slot="end"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
            <h1> Trends</h1>
      <h2>TIK TOK Y M&Aacute;s</h2>
      <p>
        Saca las coreo de tiktok y reels en la fiesta. 🎉🎉🎉
      </p>
      <ion-icon name="musical-note"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close" slot="end"></ion-icon>
      <img src="assets/img/platzylogo.png" alt="logo">
            <h1>Concentrate</h1>
      <h2>MUSICA PARA TRABAJO Y ESTUDIO</h2>
      <p>
        Tenemos la playslit con musica para concentrarse, paa momentos en que necesitas tranquilidad y enfocarte. 
        <br>
        V&aacute;lido para elHomeOffice y las clases en linea. 👓 🧑‍💼 💻
      </p>
      <ion-icon name="headset"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
